.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backToHome {
  color: #ED5664;
  padding: 0.5rem 1em;
  background: #fff;
  display: inline-block;
  border-radius: 2px;
}