#header {
  padding: 1rem 6rem 2rem;
  background: url("./../../assets/images/header_bg.jpg") no-repeat 0 0;
  background-size: cover;
  color: #fff;

  .header-top {
    color: #ED5664;
    padding: 0 6rem 5rem;
  }
}
