.result-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.result-sort_title {
  padding-right: 2rem;
  font-size: 1.4rem;
}

.result-sort_btn {
  padding: 0 1rem;
}